<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SyncDB.Properties.Settings.ServerPalletScanFGServerConnectionString"
            connectionString="Data Source=ACMC-IT-MN;Initial Catalog=PalletScanFGServer;Persist Security Info=True;User ID=devuser;Password=devuser"
            providerName="System.Data.SqlClient" />
        <add name="SyncDB.Properties.Settings.ClientPalletScanFGServerConnectionString"
            connectionString="Data Source=|DataDirectory|\PalletScanFGServer.sdf;Max Database Size=2047"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
</configuration>