<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISalesService" />
                <binding name="BasicHttpBinding_IModulaMovement" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_SOPickService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://172.17.0.50/SyncServices2020/SalesService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISalesService"
                contract="SalesByWCF.ISalesService" name="BasicHttpBinding_ISalesService" />
            <endpoint address="net.tcp://fac-prod-ax03:8201/DynamicsAx/Services/SalesOrder"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_SOPickService"
                contract="SalesOrderAX.SOPickService" name="NetTcpBinding_SOPickService">
                <identity>
                    <userPrincipalName value="ax2@kabholding.com" />
                </identity>
            </endpoint>
            <endpoint address="http://172.17.0.50/ServicesD365/ModulaMovement.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IModulaMovement"
                contract="ModulaMovement.IModulaMovement" name="BasicHttpBinding_IModulaMovement" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
