<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--connectionStrings>
    <add name="ConnString" connectionString="Data Source=FAC-PRODDB-AXR3\AXPRODSRV;Initial Catalog=UpdateDBs;User Id=MobileDB;Password=123456;" providerName="System.Data.SqlClient" />
    <add name="ModulaConn" connectionString="Data Source=MODULA-SRV\SQLEXPRESS;Initial Catalog=Host_ImpExp;User Id=devuser;Password=devuser;" providerName="System.Data.SqlClient" />
    <add name="ConnErrorDB" connectionString="Data Source=FAC-AXR3-DEV;Initial Catalog=ErrorCollection;User Id=devuser;Password=devuser;" providerName="System.Data.SqlClient" />
    <add name="ConnImpExpDB"
            connectionString="Data Source=FAC-PRODDB-AXR3\AXPRODSRV;Initial Catalog=DataManagerImExp;Persist Security Info=True;Integrated Security=SSPI;Trusted_Connection=True;"
            providerName="System.Data.SqlClient" />    
    <add name="dynamicsConString" connectionString="Data Source=FAC-AXR3-DEV;Initial Catalog=MicrosoftDynamicsAX;User Id=devuser;Password=devuser;" providerName="System.Data.SqlClient"/>
  </connectionStrings-->
  <connectionStrings>
    <add name="ConnString" connectionString="Data Source=FAC-PROD-VMHS\PRODALL,1433;Initial Catalog=UpdateDBs;User Id=MobileDB;Password=123456;" providerName="System.Data.SqlClient" />
    <add name="ModulaConn" connectionString="Data Source=MODULA-SRV\SQLEXPRESS;Initial Catalog=Host_ImpExp;User Id=devuser;Password=devuser;" providerName="System.Data.SqlClient" />
    <add name="ConnErrorDB" connectionString="Data Source=FAC-PROD-VMHS\PRODAXR3;Initial Catalog=ErrorCollection;User Id=MobileDB;Password=123456;" providerName="System.Data.SqlClient" />
    <add name="ConnImpExpDB" connectionString="Data Source=FAC-PROD-VMHS\PRODAXR3;Initial Catalog=DataManagerImExp;Persist Security Info=True;Integrated Security=SSPI;Trusted_Connection=True;" providerName="System.Data.SqlClient" />
    <add name="dynamicsConString" connectionString="Data Source=FAC-PROD-VMHS;Initial Catalog=MicrosoftDynamicsAX;Persist Security Info=True;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!--https://acmcdev58e115636df54967devaos.cloudax.dynamics.com-->
    <add key="DynamicsCompany" value="ACMC" />
    <add key="InventorySite" value="Jeddah" />
    <add key="UriString" value="https://acmc.operations.dynamics.com" />
    <add key="userName" value="dynamics@arabian-ceramics.com" />
    <add key="pwd" value="D365AX@2021" />
    <add key="adResource" value="https://acmc.operations.dynamics.com/" />
    <add key="adTenant" value="https://login.windows.net/kabholding.onmicrosoft.com" />
    <add key="adClientAppId" value="7109259b-53b7-4392-a8f1-fabf9a5f89bb" />
    <add key="adClientAppSecret" value="H3W8Q~7EXy~RW2qWADMSuBJT52KTP0yACTBucc_f" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IModulaPR" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"
          textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
          messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IDMCheckService" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IDeviceOps" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="524288"
          maxReceivedMessageSize="65536" useDefaultWebProxy="true" />
        <binding name="BasicHttpBinding_IModulaMovement" />
        <binding name="BasicHttpBinding_IProdRequestService" />
        <binding name="BasicHttpBinding_ISCSyncService" />
        <binding name="BasicHttpBinding_UserManagementService">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_ISalesService" />
        <binding name="BasicHttpBinding_IFGSyncService" />
        <binding name="BasicHttpBinding_ISalesOrderService1" />
        <binding name="BasicHttpBinding_ISalesOrderService" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IUserMgtService" />
        <binding name="BasicHttpBinding_IEAMService" />
        <binding name="BasicHttpBinding_IFixedAssetService" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IPurchaseService" />
        <binding name="BasicHttpBinding_IModulaPR1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:58380/SCSyncService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISCSyncService"
        contract="SCSyncService.ISCSyncService" name="BasicHttpBinding_ISCSyncService" />
      <endpoint address="http://localhost:58380/UserMgtService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_UserManagementService"
        contract="UserMgtService.IUserMgtService" name="BasicHttpBinding_UserManagementService" />
      <endpoint address="http://localhost:58380/SalesService.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ISalesService" contract="SalesService.ISalesService"
        name="BasicHttpBinding_ISalesService" />
      <endpoint address="http://localhost:58380/FGSyncService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFGSyncService"
        contract="FGSyncService.IFGSyncService" name="BasicHttpBinding_IFGSyncService" />
      <endpoint address="http://172.17.0.50/SyncServicesTest/DeviceOps.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDeviceOps"
        contract="DeviceOps.IDeviceOps" name="BasicHttpBinding_IDeviceOps" />
      <endpoint address="http://localhost:58380/SalesOrderService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISalesOrderService1"
        contract="SalesOrderService.ISalesOrderService" name="BasicHttpBinding_ISalesOrderService" />
      <endpoint address="http://localhost:58380/ProdRequestService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProdRequestService"
        contract="ProdRequestService.IProdRequestService" name="BasicHttpBinding_IProdRequestService" />
      <endpoint address="http://localhost:58380/UserMgtService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserMgtService"
        contract="UserMgtService.IUserMgtService" name="BasicHttpBinding_IUserMgtService" />
      <endpoint address="http://localhost:58380/DMCheckService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDMCheckService"
        contract="DMCheckService.IDMCheckService" name="BasicHttpBinding_IDMCheckService" />
      <endpoint address="http://localhost:58380/EAMService.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IEAMService" contract="EAMService.IEAMService"
        name="BasicHttpBinding_IEAMService" />
      <endpoint address="http://localhost:58380/FixedAssetService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFixedAssetService"
        contract="FAService.IFixedAssetService" name="BasicHttpBinding_IFixedAssetService" />
      <endpoint address="http://localhost:58380/PurchaseService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPurchaseService"
        contract="PurchaseService.IPurchaseService" name="BasicHttpBinding_IPurchaseService" />
      <endpoint address="http://localhost:58380/ModulaPR.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IModulaPR" contract="ModulaService.IModulaPR"
        name="BasicHttpBinding_IModulaPR" />
      <endpoint address="http://localhost:58380/ModulaMovement.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IModulaMovement"
        contract="ModulaMovement.IModulaMovement" name="BasicHttpBinding_IModulaMovement" />
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>