<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <add key="DynamicsCompany" value="ARK"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
    <customErrors mode="Off" />

    <authorization>
      <allow users="?"/>
    </authorization>
  </system.web>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_EcoResProductQueryService">
          <security>
            <transport sslProtocols="None"/>
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://fac-stage-ax04:8201/DynamicsAx/Services/AlohaServicesGroup" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_EcoResProductQueryService" contract="AlohaServices.EcoResProductQueryService" name="NetTcpBinding_EcoResProductQueryService">
        <identity>
          <userPrincipalName value="ax2@kabholding.com"/>
        </identity>
      </endpoint>
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="false"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service name="AlohaAPI.ProductService">
        <endpoint address=""  binding="webHttpBinding" contract="AlohaAPI.IProductService" behaviorConfiguration="web" />        
      </service>
      <service name="AlohaAPI.PurchReqService">        
        <endpoint address=""  binding="webHttpBinding" contract="AlohaAPI.IPurchReqService" behaviorConfiguration="web" />      
      </service>
      <service name="AlohaAPI.POService">
        <endpoint address=""  binding="webHttpBinding" contract="AlohaAPI.IPOService" behaviorConfiguration="web" />
      </service>
    </services>
    <!--<protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>-->
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>