<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="ModulaConn" connectionString="Data Source=MODULA-SRV\SQLEXPRESS;Initial Catalog=Host_ImpExp;User Id=devuser;Password=devuser;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <add key="DynamicsCompany" value="ACMC"/>
    <add key="InventorySite" value="Jeddah"/>
    <!--Authorization URL from third party-->
    <add key="authURL" value="http://productapi.arabian-ceramics.com/api/Account/Login"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6"/>
    <httpRuntime targetFramework="4.5"/>
    <customErrors mode="Off"/>
    <authorization>
      <allow users="?"/>
    </authorization>
  </system.web>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_SOPickService">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_InventOnHandService">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_ProdPlanService">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_ProdRequestService">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_CaseService">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_PrePickingService">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_WorkItemsService">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://fac-stage-ax04:8201/DynamicsAx/Services/EAMServices"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_WorkItemsService"
        contract="EAMServices.WorkItemsService" name="NetTcpBinding_WorkItemsService">
        <identity>
          <userPrincipalName value="ax2@kabholding.com" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://fac-stage-ax04:8201/DynamicsAx/Services/SalesOrder"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_SOPickService"
        contract="SalesOrderServices.SOPickService" name="NetTcpBinding_SOPickService">
        <identity>
          <userPrincipalName value="ax2@kabholding.com" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://fac-stage-ax04:8201/DynamicsAx/Services/SalesServicesGroup"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_CaseService"
        contract="SalesServicesGroup.CaseService" name="NetTcpBinding_CaseService">
        <identity>
          <userPrincipalName value="ax2@kabholding.com" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://fac-stage-ax04:8201/DynamicsAx/Services/SalesServicesGroup"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_InventOnHandService"
        contract="SalesServicesGroup.InventOnHandService" name="NetTcpBinding_InventOnHandService">
        <identity>
          <userPrincipalName value="ax2@kabholding.com" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://fac-stage-ax04:8201/DynamicsAx/Services/SalesServicesGroup"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_PrePickingService"
        contract="SalesServicesGroup.PrePickingService" name="NetTcpBinding_PrePickingService">
        <identity>
          <userPrincipalName value="ax2@kabholding.com" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://fac-stage-ax04:8201/DynamicsAx/Services/SalesServicesGroup"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ProdPlanService"
        contract="SalesServicesGroup.ProdPlanService" name="NetTcpBinding_ProdPlanService">
        <identity>
          <userPrincipalName value="ax2@kabholding.com" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://fac-stage-ax04:8201/DynamicsAx/Services/SalesServicesGroup"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ProdRequestService"
        contract="SalesServicesGroup.ProdRequestService" name="NetTcpBinding_ProdRequestService">
        <identity>
          <userPrincipalName value="ax2@kabholding.com" />
        </identity>
      </endpoint>
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="false"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceAuthorization serviceAuthorizationManagerType="WcfMobile.RestAuthorizationManager, WcfMobile"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service name="WcfMobile.SalesService">
        <endpoint address="" binding="webHttpBinding" contract="WcfMobile.ISalesService" behaviorConfiguration="web"/>
      </service>
      <service name="WcfMobile.CustomerCaseService">
        <endpoint address="" binding="webHttpBinding" contract="WcfMobile.ICustomerCaseService" behaviorConfiguration="web"/>
      </service>
      <service name="WcfMobile.ProdPlanService">
        <endpoint address="" binding="webHttpBinding" contract="WcfMobile.IProdPlanService" behaviorConfiguration="web"/>
      </service>
      <service name="WcfMobile.ProdRequestService">
        <endpoint address="" binding="webHttpBinding" contract="WcfMobile.IProdRequestService" behaviorConfiguration="web"/>
      </service>
      <service name="WcfMobile.SummaryService">
        <endpoint address="" binding="webHttpBinding" contract="WcfMobile.ISummaryService" behaviorConfiguration="web"/>
      </service>
      <service name="WcfMobile.PrePickingService">
        <endpoint address="" binding="webHttpBinding" contract="WcfMobile.IPrePickingService" behaviorConfiguration="web"/>
      </service>
      <service name="WcfMobile.UserInfoService">
        <endpoint address="" binding="webHttpBinding" contract="WcfMobile.IUserInfoService" behaviorConfiguration="web"/>
      </service>
      <service name="WcfMobile.EAMService">
        <endpoint address="" binding="webHttpBinding" contract="WcfMobile.IEAMService" behaviorConfiguration="web"/>
      </service>
    </services>
    <!--<protocolMapping>
        <add binding="basicHttpsBinding" scheme="https"/> 
    </protocolMapping>-->
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>