<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_CaseService">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_InventOnHandService">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_PrePickingService">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_ProdPlanService">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_ProdRequestService">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://acmcuat.sandbox.operations.dynamics.com/soap/services/SalesServicesGroup"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_CaseService"
                contract="SalesServicesGroup.CaseService" name="BasicHttpBinding_CaseService" />
            <endpoint address="https://acmcuat.sandbox.operations.dynamics.com/soap/services/SalesServicesGroup"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_InventOnHandService"
                contract="SalesServicesGroup.InventOnHandService" name="BasicHttpBinding_InventOnHandService" />
            <endpoint address="https://acmcuat.sandbox.operations.dynamics.com/soap/services/SalesServicesGroup"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_PrePickingService"
                contract="SalesServicesGroup.PrePickingService" name="BasicHttpBinding_PrePickingService" />
            <endpoint address="https://acmcuat.sandbox.operations.dynamics.com/soap/services/SalesServicesGroup"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ProdPlanService"
                contract="SalesServicesGroup.ProdPlanService" name="BasicHttpBinding_ProdPlanService" />
            <endpoint address="https://acmcuat.sandbox.operations.dynamics.com/soap/services/SalesServicesGroup"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ProdRequestService"
                contract="SalesServicesGroup.ProdRequestService" name="BasicHttpBinding_ProdRequestService" />
        </client>
    </system.serviceModel>
</configuration>
