<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /> 
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_CaseService">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_InventOnHandService">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_PrePickingService">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_ProdPlanService">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_ProdRequestService">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_UserManagementService">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_WorkItemsService">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_SOPickService">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_JournalCountingService">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_DMDataToSaveService">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://acmcuat.sandbox.operations.dynamics.com/soap/services/SalesServicesGroup"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_CaseService"
                contract="SalesServicesGroup.CaseService" name="BasicHttpBinding_CaseService" />
            <endpoint address="https://acmcuat.sandbox.operations.dynamics.com/soap/services/SalesServicesGroup"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_InventOnHandService"
                contract="SalesServicesGroup.InventOnHandService" name="BasicHttpBinding_InventOnHandService" />
            <endpoint address="https://acmcuat.sandbox.operations.dynamics.com/soap/services/SalesServicesGroup"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_PrePickingService"
                contract="SalesServicesGroup.PrePickingService" name="BasicHttpBinding_PrePickingService" />
            <endpoint address="https://acmcuat.sandbox.operations.dynamics.com/soap/services/SalesServicesGroup"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ProdPlanService"
                contract="SalesServicesGroup.ProdPlanService" name="BasicHttpBinding_ProdPlanService" />
            <endpoint address="https://acmcuat.sandbox.operations.dynamics.com/soap/services/SalesServicesGroup"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ProdRequestService"
                contract="SalesServicesGroup.ProdRequestService" name="BasicHttpBinding_ProdRequestService" />
            <endpoint address="https://acmcuat.sandbox.operations.dynamics.com/soap/services/UserMgtServices"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_UserManagementService"
                contract="UserMgtServices.UserManagementService" name="BasicHttpBinding_UserManagementService" />
            <endpoint address="https://acmcuat.sandbox.operations.dynamics.com/soap/services/EAMServices"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_WorkItemsService"
                contract="EAMServices.WorkItemsService" name="BasicHttpBinding_WorkItemsService" />
            <endpoint address="https://acmcuat.sandbox.operations.dynamics.com/soap/services/SOPickServiceGroup"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_SOPickService"
                contract="SOPickServiceGroup.SOPickService" name="BasicHttpBinding_SOPickService" />
            <endpoint address="https://acmcuat.sandbox.operations.dynamics.com/soap/services/InventCountingServiceGroup"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_JournalCountingService"
                contract="InventCountingService.JournalCountingService" name="BasicHttpBinding_JournalCountingService" />
            <endpoint address="https://acmcuat.sandbox.operations.dynamics.com/soap/services/DataManagerServiceGroup"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_DMDataToSaveService"
                contract="DataManagerServices.DMDataToSaveService" name="BasicHttpBinding_DMDataToSaveService" />
        </client>
    </system.serviceModel>
</configuration>
