<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /> 
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_CaseService">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_InventOnHandService" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" maxBufferPoolSize="2147483647">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_PrePickingService" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" maxBufferPoolSize="2147483647">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_ProdPlanService" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" maxBufferPoolSize="2147483647">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_ProdRequestService" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" maxBufferPoolSize="2147483647">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_UserManagementService" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" maxBufferPoolSize="2147483647">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_WorkItemsService" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" maxBufferPoolSize="2147483647">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_JournalCountingService" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" maxBufferPoolSize="2147483647">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_DMDataToSaveService" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" maxBufferPoolSize="2147483647">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_EVSSOPickService" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" maxBufferPoolSize="2147483647">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_SOReserve" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" maxBufferPoolSize="2147483647">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_UnderstockItemsInfoNewService" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" maxBufferPoolSize="2147483647">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_ModulaMovement" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" maxBufferPoolSize="2147483647">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://acmc.operations.dynamics.com/soap/services/DataManagerServiceGroup"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_DMDataToSaveService"
                contract="DataManagerServices.DMDataToSaveService" name="BasicHttpBinding_DMDataToSaveService" />
            <endpoint address="https://acmc.operations.dynamics.com/soap/services/EAMServices"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_WorkItemsService"
                contract="EAMServices.WorkItemsService" name="BasicHttpBinding_WorkItemsService" />
            <endpoint address="https://acmc.operations.dynamics.com/soap/services/InventCountingServiceGroup"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_JournalCountingService"
                contract="InventCountingService.JournalCountingService" name="BasicHttpBinding_JournalCountingService" />
            <endpoint address="https://acmc.operations.dynamics.com/soap/services/SalesServicesGroup"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_CaseService"
                contract="SalesServicesGroup.CaseService" name="BasicHttpBinding_CaseService" />
            <endpoint address="https://acmc.operations.dynamics.com/soap/services/SalesServicesGroup"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_InventOnHandService"
                contract="SalesServicesGroup.InventOnHandService" name="BasicHttpBinding_InventOnHandService" />
            <endpoint address="https://acmc.operations.dynamics.com/soap/services/SalesServicesGroup"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_PrePickingService"
                contract="SalesServicesGroup.PrePickingService" name="BasicHttpBinding_PrePickingService" />
            <endpoint address="https://acmc.operations.dynamics.com/soap/services/SalesServicesGroup"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ProdPlanService"
                contract="SalesServicesGroup.ProdPlanService" name="BasicHttpBinding_ProdPlanService" />
            <endpoint address="https://acmc.operations.dynamics.com/soap/services/SalesServicesGroup"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ProdRequestService"
                contract="SalesServicesGroup.ProdRequestService" name="BasicHttpBinding_ProdRequestService" />
            <endpoint address="https://acmc.operations.dynamics.com/soap/services/EVSSOPickServiceGroup"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_EVSSOPickService"
                contract="SOPickServiceGroup.EVSSOPickService" name="BasicHttpBinding_EVSSOPickService" />
            <endpoint address="https://acmc.operations.dynamics.com/soap/services/UserMgtServices"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_UserManagementService"
                contract="UserMgtServices.UserManagementService" name="BasicHttpBinding_UserManagementService" />
            <endpoint address="https://acmc.operations.dynamics.com/soap/services/MiscServiceGroup"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_SOReserve"
                contract="MiscServiceGroup.SOReserve" name="BasicHttpBinding_SOReserve" />
            <endpoint address="https://acmc.operations.dynamics.com/soap/services/MiscServiceGroup"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_UnderstockItemsInfoNewService"
                contract="MiscServiceGroup.UnderstockItemsInfoNewService"
                name="BasicHttpBinding_UnderstockItemsInfoNewService" />
            <endpoint address="https://acmc.operations.dynamics.com/soap/services/MiscServiceGroup"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ModulaMovement"
                contract="MiscServiceGroup.ModulaMovement" name="BasicHttpBinding_ModulaMovement" />
        </client>
    </system.serviceModel>
</configuration>
